# Libertalia data
config.jsonc
tokens.jsonc
.env
cache/*

# Python garbage
__pycache__/
*.pyc
venv/
.venv/

# Media library contents (except for Steamboat Willie cause that's our example video)
media/*
!media/steamboat_willie/
